.signup_password {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%;
}

.signup_password_item {
    margin-top: 30px
}

.signup_password_buttons {
    display: flex;
    flex-direction: row
}

.signup_password_continue {
    margin-left: 50px
}