.create_project_credentials {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 80%
}

.create_project_credentials_item {
    margin-top: 30px
}

.create_project_credentials_buttons {
    display: flex;
    flex-direction: row
}

.create_project_credentials_continue {
    margin-left: 50px
}